
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Basket</title>
</head>
<body>
    <div> 

        @Html.Action("Index", "cart", new { cart = "basket" })

    </div>
</body>
</html>
